.panel {
  max-width: 600px;
  text-align: right;
  float: right;
  height: 100%;
  font-size: 1.5em;
}

.list-group {
  font-size: 1em;
}

.container {
  max-width: 800px;
  float: left;
  margin: 14px;
}

.list-group-link:hover {
  text-decoration: none;
  background-color: white;
  color: #b497d6;
  font-weight: bold;
}



html, body {
  height: 100%;
}
