// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel {
  max-width: 600px;
  text-align: right;
  float: right;
  margin-top: 50px;
  font-size: 1.5em;
}


.list-group {
  font-size: 1em;
}

.container {
  max-width: 800px;
  float: right;
  margin: 14px;
  background-color: white;
}
